@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);

#mainCanvasDiv{
    width:100%;
}
@media(max-width: 1000px){
    #mainCanvasDiv{
        display:none;
    }
}

#mainCanvas{
    background-color:white;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px #999; 
    -moz-box-shadow: 3px 3px 3px 3px #999;
    margin-bottom: 5px;
}

.bottomMenu{
    background-color:gray;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    height: 105px;
    text-align: center;
}

#paletteDiv{
    width: 115px;
}

.palette_color{
    height: 30px;
    width: 30px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}

.penWidthDiv{
    width: 35px;
}

#currentColor{
    height: 15px;
    width: 15px;
    border-radius: 5px;
    display: inline-block;
}

.penWidth{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 70%;
    padding: 0 5px;
    display: block;
}

#paletteModeDiv{
    width: 200px;
}

#drawMode{
    width:70%;
    height:60px;
    margin-top: 3px;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Nanum Pen Script', cursive;
    border-radius: 15px;
    cursor: pointer;
}

.drawSubMode{
    width:30%;
    margin-top:5px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Nanum Pen Script', cursive;
    border-radius: 15px;
    cursor: pointer;
}

#turnInfoDiv{
    width:130px;
}

.canvas_sideBarEle{
    width: 80%;
    height: 35%;
    line-height: 150%;
    background-color: white;
    border-radius: 10px;
    margin: 10px 10px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
    font-weight: bold;
}

#turnSet{
    background-color: lightgreen;
}
#turnSet:hover{
    transform: scale(0.95);
    cursor: pointer;
}
.myturn{
    background-color: lightgreen;
}
.otherturn{
    background-color: lightcoral;

}

#DrawingUser{
    cursor: unset;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}