@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);

#Chat{
    position: absolute;
    right: 15px;
    top: 0px;
    width:20%;
    height:100%;
}

@media(max-width: 1000px){
    #Chat{
        position:static;
        width:100%;
        height:50%;
        text-align:center;
    }
}

#NameTitle{
    color:white;
    padding: 0;
    margin: 0;
    font-size: 30px;
}
#yourName{
    color:white;
    padding: 0;
    margin: 0;
}

#chatInput{
    margin: auto;
    margin-top: 0px;
    background-color: lightblue;
    text-align: center;
    width:95%;
    padding: 10px;
}
@media(max-width: 1000px){
    #chatInput{
        width:200px;
        height: 50px;
    }
}

#chatBoard{
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:lightpink;
    width: 95%;
    height: 85%;
    overflow-y: auto;
}
@media(max-width: 1000px){
    #chatBoard{
        width:200px;
        height: 200px;
    }
}

.chatBox{
    width:100%;
}

.leftChat{
    text-align:left;
    margin-bottom: 5px;
}

.rightChat{
    text-align:right;
    margin-bottom: 5px;
}

.noticeChat{
    width:100%;
    text-align: center;
    margin-bottom: 5px;
}

.bubble{
    display:inline-block;
    max-width:40%;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
}
.mybubble{background-color:yellow;}
.otherbubble{background-color:white;}

.userlist{
    background-color:white;
    height: 150px;
    border-radius: 10px;
    position: absolute;
    top: 1%;
    width: 200px;
    opacity: 0.8;
    overflow-y: auto;
    display: none;
}
@media(max-width: 1000px){
    .userlist{
        background-color:white;
        height: 150px;
        border-radius: 10px;
        position: absolute;
        top: 50px;
        left: 10px;
        width: 200px;
        opacity: 0.8;
        overflow-y: auto;
        display: none;
    }
}

#userListTitle{
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Nanum Pen Script', cursive;
    color: forestgreen;
}

.userList_user{
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Nanum Pen Script', cursive;
}

#usersBtn{
    position: fixed;
    width: 35px;
    height: 35px;
    background-color:white;
    border-radius: 30px;
    right: 21.3%;
    top: 2%;
}

@media(max-width: 1000px){
    #usersBtn{
        position: fixed;
        width: 35px;
        height: 35px;
        background-color:white;
        border-radius: 30px;
        left: 10px;
        top: 3px;
    }
}