html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#Chat{
    position: absolute;
    right: 15px;
    top: 0px;
    width:20%;
    height:100%;
}

@media(max-width: 800px){
    #Chat{
        position:static;
        width:100%;
        height:50%;
        text-align:center;
    }
}

#yourName{
    padding: 0;
    margin: 0;
}

#chatInput{
    margin: auto;
    margin-top: 0px;
    background-color: lightblue;
    text-align: center;
    width:95%;
    padding: 10px;
}
@media(max-width: 800px){
    #chatInput{
        width:200px;
        height: 50px;
    }
}

#chatBoard{
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:lightpink;
    width: 95%;
    height: 80%;
    overflow-y: auto;
}
@media(max-width: 800px){
    #chatBoard{
        width:200px;
        height: 200px;
    }
}

#todoList{
    position: absolute;
    padding-left: 20px;
}

@media(max-width: 800px){
    #todoList{
        bottom: 50%;
        text-align: center;
        padding-left: 0;
        width: 100%;
    }
}

.chatBox{
    width:100%;
}

.leftChat{
    text-align:left;
    margin-bottom: 5px;
}

.rightChat{
    text-align:right;
    margin-bottom: 5px;
}

.bubble{
    display:inline-block;
    max-width:40%;
    word-break: break-all;
    word-wrap: break-word;
    border-radius: 5px;
    padding: 5px;
}
.mybubble{background-color:yellow;}
.otherbubble{background-color:white;}